

  .hero {
    position: relative;
    width: 100%;
    padding: 156px 0 100px 0;
    background-color: #fff;
    background-image: url('../img/hero-bg.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
  }
  
  .hero__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    z-index: 1;
  }
  
  .hero__title {
    position: relative;
    max-width: 578px;
    color: $main-title-color;
    z-index: 2;
  }
  
  .hero__inner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
  }
  .hero__bg {
    width: 100%;
    max-width: 710px;
    position: absolute;
    left: 50%;
    z-index: 3;
    pointer-events: none;
  }
  
  .hero__bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero__content {
    position: relative;
    width: 100%;
    max-width: 439px;
    padding-top: 34px;
    z-index: 2;
  }
  
  .hero__content-text {
    font-weight: 700;
    line-height: 1.3;
    color: #f6f7e4;
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 60px;
  }
  .hero__list {
    width: 100%;
    max-width: 323px;
    background-color: #7fb3e1;
    border-radius: 20px;
    list-style: none;
  }
  .hero__list-item {
    position: relative;
    padding-left:35px ;
    font-weight: 700;
    font-size: 22px;
    color: #dfe4de;
  
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      translate: 0 -50% 0;
      width: 18px;
      height: 24px;
      background-image: url('../img/black-paw.webp');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    
    }
  
  }
  .order {
    position: relative;
    width: 100%;
    max-width:270px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fdfcfc;  
    opacity: .7;
    overflow: hidden;
    z-index: 2;
  }
  .order__top {
    width: 100%;
    filter:drop-shadow(0 4px 4px  rgba(0,0,0, .25));
    margin-bottom: 21px;
  }
  .order__top-inner {
    width: 100%;
    padding: 23px 24px 28px 24px ;
    background-color: #7fb3e1;
    clip-path: polygon(0 0,100% 0, 100% 90%, 50% 100%, 0 90%);
  }
  .order__title {
    font-weight: 700;
    font-size: 33px;
    text-align: center;
    color: #483c08;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  .order__time {
    font-weight: 700;
    font-size: 36px;
    color: #f6e791;
    text-align: center;
    min-height: 47px;
  }
  .order__discount {
    width: 100%;
  }
  .order__old-price {
    font-weight: 700;
    font-size: 30px;
    color: #6b6b6b;
    margin-right: 15px;
    position: relative;
  
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: 0 -50% 0;
      rotate: 163deg;
      width: 100%;
      height: 2px;
      background-color: #F6BE91;
    }
  }
  .order__new-price {
    font-weight: 700;
    font-size: 36px;
    color: #483c08;
  }
  .order-form {
    width: 100%;
    padding: 0 24px;
  }
 
  .order-form__input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
  
    &::before {
      content: '';
      position: absolute;
      left: 16px;
      top: 50%;
      translate: 0 -50% 0;
      width: 24px;
      height: 24px;
      background-image: url('../img/grey-paw.webp');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      
    }
  }
  .order-form__input {
    width: 100%;
    height: 100%;
    padding:0 10px 0 55px ;
    border-radius: 30px;
    background-color: rgba(243, 239, 239, .9);
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #777;
  
    &::placeholder {
      font-weight: 700;
      font-size: 16px;
      color: #777;
    }
  }
  .order-form__button {
    width: 100%;
    padding: 7px 63px ;
    margin-bottom: 30px;
    border-radius:30px;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: $body-color;
    background-color: $card-item-bg;
  }
  .order__date {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #444;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
 

@media (min-width:1140px) {
  .hero__inner {
     padding-top: 0;
    }

  .hero__bg {
    translate: -46% -98% 0;
    top: 100%;
  }
 
}

@media (min-width:768px) {
  .hero__inner {
    flex-direction: row;
   
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero__content-text {
    margin-bottom: 60px;
    font-size: 26px;
    text-align: left;
  }

  .hero__list {
    padding: 45px 30px 27px 44px;
}

.hero__list-item {
  font-size: 20px;
}

}

@media (min-width:320px) {
  .hero__inner {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: clamp(180px, 0.0893rem + 55.8036vw, 430px);
  }

  .hero__bg {
    translate: -50% 0 0;
    top: 20px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__content-text {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }

  .hero__list {
    padding: 45px 10px 27px 27px;
}

.hero__list-item {
  font-size: 20px;
}
}
