

.manufacturer__title {
  background: linear-gradient(180deg, #f9e994 0%, #537d13 56.25%, #483c08 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.manufacturer__inner {
  width: 100%;
  min-height: 439px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.manufacturer__card {
  width: 100%;
  max-width: 305px;
  min-height: 439px;
  padding:15px;
  border-radius: 20px;
  background-color:$card-bg;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;

}
.manufacturer__card-img {
  max-width: 100%;
}
.manufacturer__card-content {
  width: 100%;
  min-height: 218px;
  padding:21px 16px 23px ;
  border-radius: 20px;
  background-color: rgba(161, 211, 55, 0.4);
}
.manufacturer__card-title {
  font-weight: 700;
  color: $body-color;
  text-align: center;
  margin-bottom: 19px;

}
.manufacturer__card-text {
  text-align: center;
  color: $text-color;
}


@media (min-width:768px) {
  .manufacturer {
    padding: 100px 29px;
  }

  .manufacturer__title {
    margin-bottom: 60px;
  }
  .manufacturer__inner {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .manufacturer__card-title {
    font-size: 22px;
  }
}

@media (min-width:320px) {
  .manufacturer {
    width: 100%;
    padding: 50px 0;
  }

  .manufacturer__title {
    margin-bottom: 30px;
  }
  .manufacturer__inner {
    flex-direction: column;
  }

  .manufacturer__card-title {
    font-size: 20px;
  }
}