.hide {
  opacity: 0;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:$border-color;
  z-index: 100;
  display: grid;
  place-content: center;
}

.loader {
  display: grid;
  place-content: center;
  width: 125px;
  height: 125px;
  border: solid 10px $title-color;
  border-radius: 50%;
  border-left-color: $card-bg;
  animation: load 1.3s linear infinite;
}

@keyframes load {
 
  100% {
    transform: rotate(360deg);
  }
}
