// vars
$text-color: #483C08;
$main-title-color: #F9E994;
$title-color: #537D13;
$body-color: #fff;
$card-bg: #F6E791;
$card-item-bg: #A1D337;
$border-color: #D4DF6D;
$overlay: rgba(0, 0, 0, .3);

$font-family: 'Roboto', sans-serif;